.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  animation: fadeIn 0.2s ease;
}

.modalContainer {
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
}

.modalContainer::-webkit-scrollbar {
  width: 6px;
}

.modalContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.modalContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.modalContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
